td {
  padding-left: 30px;
}

p {
  font-size: 16px;

  font-family: Roboto-Light;
  font-display: swap;
  src: url(Roboto-Light.ttf) format("truetype");
}





/* navbar buttons */
.main {
  width: 98%;
  height: auto;
  margin-left: 30px;
  color: #505759;

  font-family: RobotoCondensed-Regular;
  font-display: swap;
  src: url(RobotoCondensed-Regular.ttf) format("truetype");
}


.navbar {
  position:sticky;
  top:0;
  z-index:1;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: #f8f9fa;
}




button {
  background-color: transparent;
  margin-left: 40px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
}


button:hover {
  background-color: #cfe9fa5d;
  transition: 0.3s;
}







/* tooltip */
.hover {
  position: relative;
  display: inline-block;

}

.text {
  visibility: hidden;
  width: 100px;
  background-color: rgb(255, 251, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -25px;
  left: 30%;
  position: absolute;
  z-index: 1;
}

.hover:hover .text {
  visibility: visible;
}







/* accordian */
.accorborder {
  width: 70%;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin-left: 30px;

}

.accorback {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.719);
  overflow: hidden;
  border: 0px solid black;
  border-radius: 8px;
}

.accorback:hover {
  background-color: #003057;
  color: white;
  transition: 0.2s;
}

.img {
  width: 15;
  height: 15;
}







/* flipcards */
/* first flipcard  */
.flip {
  width: 100%;
}

.flip-card {
  position: relative;
  margin: 30px;
  background-color: rgb(194, 117, 117);
  width: 25%;
  height: 48%;
  border-radius: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 30px;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 3px solid black;
}

.flip-card-front {
  background-color: rgb(218, 200, 200);
  color: black;
}

.flip-card-back {
  background-color: #4da9e6;
  color: rgb(29, 27, 27);
  transform: rotateY(180deg);
}



/* second flipcard  */
.flip-card1 {
  margin-left: 35%;
  margin-top: -28%;
  background-color: rgb(194, 117, 117);
  width: 25%;
  height: 48%;
  border-radius: 30px;
}



.flip-card-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 30px;
  transition: transform 0.7s;
  transform-style: preserve-3d;

}

.flip-card1:hover .flip-card-inner1 {
  transform: rotateY(180deg);
}

.flip-card-front1,
.flip-card-back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 3px solid black;
}

.flip-card-front1 {
  background-color: rgb(218, 200, 200);
  color: black;
}

.flip-card-back1 {
  background-color: #ccce5c;
  color: rgb(29, 27, 27);
  transform: rotateY(-180deg);
}







/* slideshow */
.slideshow {
  width: 80%;
  height: 70%;
  overflow: hidden;
  border: 2px solid black;
  box-shadow: 5px 5px 5px 5px #333;

}

.middle {
  transform: translate(12%);
  /* margin-left:75px; */
}

.navigation {
  position: absolute;
  bottom: 0px;
  left: 35%;
  display: flex;
}

.bar {
  width: 30px;
  height: 7px;
  border: 1.5px solid rgb(255, 255, 255);
  margin: 7px;
  cursor: pointer;
  transition: 0.5s;
}


.bar:hover {
  background-color: rgb(255, 255, 255);
}


input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
}


#r1:checked~.s1 {
  margin-left: 0;
}

#r2:checked~.s1 {
  margin-left: -20%;
}

#r3:checked~.s1 {
  margin-left: -40%;
}

#r4:checked~.s1 {
  margin-left: -60%;
}

#r5:checked~.s1 {
  margin-left: -80%;
}







/* timeline */
.div {
  margin-left: 100px;
}

.out {
  border-left: 2px solid #333;
  width: 100%;
}

.template {
  position: relative;
  margin: 20px;
  padding: 10px 30px;
  background: rgb(148 231 234);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  height: auto;
  width: 50%;
}

.template:hover {
  background-color: #09ff008a;
  box-shadow:
    7px 6px 28px 1px rgb(112, 83, 83);
}


.title {
  color: rgb(22, 0, 119);
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgb(233, 226, 226);
  border-radius: 5px;
  left: -62px;
  border: 3px solid rgb(22, 0, 119);
}






/* MCQ */
.mcq {
  width: 60%;
  height: auto;
  padding: 20px;
  background-color: rgb(148 231 234);
  font-size: 16px;
  font: bold;
  border: 1px solid black;
  margin-left: 30px;
}

.submit {
  border: 0.5px solid black;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 25px;
  font-size: 18;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #34e22e;
}

.submit:hover {
  background-color: #659cc0;
}





/*  input text */
.login {
  background-color: rgb(148 231 234);
  text-align: center;
  font-size: 16px;
  margin-left: 200px;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid black;
  width: 25%;
}





/* audio and video */
iframe {
  margin-left: 20%;
  border: 0.5px solid black;
  border-radius: 10px;
}